body {
  margin: 0;
  width: 100%;
}

.header1 {
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 13px;
  gap: 42px;
}
.header1 a {
  display: flex;
  position: absolute;
  align-self: center;
  left: 17px;
  color: #353535;
}

h1 {
  display: flex;
  justify-self: center;
}

h1, h2 {
  margin: 0;
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}

/*section Menu*/
.Menu img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 275px;
  position: relative;
  top: 30px;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
  padding-left: 20px;
}
.title .fa-regular {
  position: absolute;
  transition: 0.5s;
  font-size: 30px;
  right: 30px;
}
.title .fa-solid {
  position: absolute;
  font-size: 31px;
  transition: 0.5s;
  opacity: 0;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  right: 30px;
}
.title-hearts {
  display: flex;
  align-items: center;
}
.title-hearts:hover .fa-solid {
  opacity: 1;
}
.title-hearts:hover .fa-regular {
  opacity: 0;
}

.cards {
  position: absolute;
  background: #F6F6F6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  width: 100%;
}
.cards .BtCommand {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-bottom: 40px;
}
.cards button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  border-color: transparent;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  width: 218px;
  height: 50px;
  color: var(--White, #FFF);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 600ms;
}
.cards button:hover {
  opacity: 0.7;
}

h3 {
  position: relative;
  left: 15px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  margin-top: 40px;
  margin-bottom: 0;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

/* Cards menu price*/
.card-price {
  padding: 12px 15px 0px 15px;
}
.card-price:hover .check {
  transform: translate(-100%, 0);
}
.card-price:hover span {
  transform: translate(-200%, 0);
}
.card-price:hover p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 220px;
  white-space: nowrap;
}
.card-price:hover h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 220px;
  white-space: nowrap;
}
.card-price .card-content {
  border-radius: 15.043px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.card-price .card-content .subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-price .card-content .subtitle span {
  color: #353535;
  font-family: Roboto;
  font-size: 15.043px;
  font-weight: 700;
  transition: transform 400ms ease-in-out;
}
.card-price .card-content .subtitle p {
  font-weight: 300;
  font-size: 15px;
  font-family: Roboto;
  margin-top: 5px;
  margin-bottom: 0;
}

h4 {
  margin: 0;
  font-size: 18px;
  font-family: Roboto;
}

/* Animation */
.check {
  background: #1ef1c6;
  width: 59px;
  border-radius: 0px 15px 15px 0px;
  height: 75px;
  position: absolute;
  right: -46px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 400ms ease-in-out;
}
.check i {
  -webkit-text-fill-color: white;
  font-size: 20px;
}

.check-hidden {
  background: #F6F6F6;
  width: 60px;
  border-radius: 0px 15px 15px 0px;
  height: 76px;
  position: absolute;
  right: -46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Footer*/
footer {
  position: relative;
  bottom: -1162px;
}

.footer-list {
  background: var(--Grey, #353535);
  display: flex;
  width: 100%;
  padding: 22px 0px 0px 22px;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

h5 {
  color: var(--White, #FFF);
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0px;
}

h6 {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  font-family: Roboto;
  margin: 0px;
  padding-bottom: 7px;
  cursor: pointer;
}

.list {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}

.list .fa-handshake {
  position: relative;
  width: 11.918px;
  transform: rotate(-45deg);
  margin: 0px;
  left: 1px;
  bottom: 4px;
}

.fa-utensils {
  position: relative;
  font-size: 13px;
  bottom: 4px;
}

/* Media*/
@media (min-width: 1024px) {
  .Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards {
    position: relative;
    display: flex;
    width: 1055px;
    flex-direction: column;
    align-content: center;
  }
  .card-price {
    padding: 12px 193px 0px 193px;
  }
  .card-price:hover p {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 400px;
    white-space: nowrap;
  }
  .card-price:hover h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 400px;
    white-space: nowrap;
  }
  .title {
    display: flex;
    justify-content: center;
  }
  .title .title-hearts {
    position: absolute;
    right: 300px;
  }
  h3 {
    position: relative;
    left: 192px;
  }
  /*animation desktop*/
  .check {
    position: absolute;
    right: 132px;
  }
  .check-hidden {
    position: absolute;
    right: 131px;
  }
  /*Footer*/
  footer {
    position: relative;
    bottom: -10px;
  }
  .footer-list {
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h5 {
    order: 4;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0;
    margin-top: 30px;
  }
  .list i {
    margin-bottom: 0;
    margin-top: 31px;
    font-size: 13px;
  }
  .list .fa-handshake {
    position: relative;
    margin-top: 20px;
    font-size: 11px;
    top: 2px;
  }
  h6 {
    margin-top: 30px;
  }
}/*# sourceMappingURL=style1.css.map */